<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JEGOROWORDLE HEROES</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="dark">
    <header class="header">
        <h1>JEGOROWORDLE HEROES</h1>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
